img {
  max-width: 100%;
}
.main{
  padding-top: 15px;
}
.title{
  text-align: center;}

.header{
  padding-top: 15px;
  padding-bottom: 15px;
  }
.main-quizz img{
margin-bottom: 15px

}
#question_wrapper{
  -webkit-box-shadow: 6px -9px 5px 0px rgba(145,145,145,1);
  -moz-box-shadow: 6px -9px 5px 0px rgba(145,145,145,1);
  box-shadow: 6px -9px 5px 0px rgba(145,145,145,1);
  
  border-radius: 29px 29px 29px 29px;
-moz-border-radius: 29px 29px 29px 29px;
-webkit-border-radius: 29px 29px 29px 29px;
  padding: 13px;
  margin-bottom: 5px;
  background: rgb(218, 218, 218);
  }
.question h2{
  text-align: center;
}

#button_holder{
  padding: 5px 15px 25px 25px;}
.answers li{
  list-style: none;
  padding: 1.2em; 0 1.2em 0;
}
.answers li:hover{
  list-style-image: url(../img/vball-hover.png);
}

.fact{
  padding:1.2em 0 1.2em .8em;
  text-align: center;
  
}
#retry_button{
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
	display: none;
}
input#submit{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
/* border-radius: 10px; */
/*give the button a drop shadow*/
/* -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75); */
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
/* box-shadow: 0 0 4px rgba(0,0,0, .75); */
  
background: rgb(91, 91, 255);
  color: white;
}
.question{
  font-size: 1.4em;
}
