img {
  max-width: 100%;
}
.main{
  padding-top: 15px;
}
.title{
  text-align: center;}

.header{
  padding-top: 15px;
  padding-bottom: 15px;
  }
.qdiv{
  background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
  background: rgba(221, 221, 221, 0.5);
  }
.qdiv h2{
  text-align: center;
}


.answers li{
  list-style: none;
  padding: 1.2em; 0 1.2em 0;
}
.answers li:hover{
  list-style-image: url(../img/vball-hover.png);
}

#feedback{
  padding:1.2em 0 1.2em .8em;
}
#retry_button{
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
	display: none;
}

.question{
  font-size: 1.4em;
}
